@{
	ViewData["Title"] = "Wymiana";
}

@{
	string EurToPlnRate = (string)ViewData["EurToPlnRate"];
	string PlnToEurRate = (string)ViewData["PlnToEurRate"];
	decimal EurToPln = Convert.ToDecimal(EurToPlnRate);
	decimal PlnToEur = Convert.ToDecimal(PlnToEurRate);
}
<script>
	const EurToPln = @Json.Serialize(EurToPln);
	const PlnToEur = @Json.Serialize(PlnToEur);
</script>
<div class="Right">
	<div class="divexchange">

		<legend class="ExchangeEP">Wymiana PLN i EUR</legend>

		<div class="form-group">
			<label class="col-md-4 control-label" for="SelectWho">Wymiana</label>
			<div class="col-md-4">
				<select id="SelectWho" name="SelectWho" class="form-control">
					<option value="1" selected>EUR -&gt; PLN</option>
					<option value="2">PLN -&gt; EUR</option>
				</select>
			</div>
		</div>
		<form class="form-horizontal" method="post" action="@Url.Action("AddEurExchange","Function")">
			<fieldset>
				<div id="EURPLN">
					<div class="form-group">
						<div class="col-md-4">
							<label class="col-md-4 control-label" for="AmountEur">Ilość EUR</label>
							<input id="AmountEur" name="AmountEur" type="text" placeholder="€€€" class="form-control input-md" required="">
						</div>
						<div class="Exchanger">
							Kurs: @EurToPln <br />
							<span id="eurilosc"></span>€ da Ci <span id="eurspan"></span> Zł <br />
						</div>

					</div>
					<div class="form-group">
						<div class="col-md-4">

							<input class="Button1" type="submit" value="Wymień">
						</div>
					</div>
				</div>
			</fieldset>
		</form>
		<form class="form-horizontal" method="post" action="@Url.Action("AddPlnExchange","Function")">
			<fieldset>
				<div id="PLNEUR">
					<div class="form-group">
						<label class="col-md-4 control-label" for="AmountPLN">Ilość PLN</label>
						<div class="col-md-4">
							<input id="AmountPLN" name="AmountPLN" type="text" class="form-control input-md" required="">

						</div>
					</div>
					<div class="form-group">
						<div class="col-md-4">
							<div class="Przelicznik">
								Kurs: @PlnToEur <br />
								<span id="plnilosc"></span> Zł da Ci <span id="plnspan"></span>€  <br />
							</div>
							<input class="Button2" type="submit" value="Wymień">
						</div>
					</div>

				</div>
			</fieldset>
		</form>
	</div>
</div>
<script>

	function manageVisibility() {
		var categorySelect = document.getElementById("SelectWho");
		var PLNEUR = document.getElementById("PLNEUR");
		var EURPLN = document.getElementById("EURPLN");


		if (categorySelect.value === "2") {
			EURPLN.style.display = "none";
			PLNEUR.style.display = "block";

		} else {
			EURPLN.style.display = "block"
			PLNEUR.style.display = "none";
		}
	}
	document.getElementById("SelectWho").addEventListener("change", manageVisibility);
	manageVisibility();
</script>
<script>
	const LiczbaInput = document.getElementById('AmountEur');
	const wynikspaneur = document.getElementById('eurspan');
	const wynikeurilosc = document.getElementById('eurilosc');

	function obliczWynik() {
		const wpisaneeur = parseFloat(LiczbaInput.value.replace(',', '.'));

		if (isNaN(wpisaneeur) || wpisaneeur === 0) {
			wynikspaneur.textContent = '0';
			wynikeurilosc.textContent = '0';
		} else {
			const result = (wpisaneeur * EurToPln).toFixed(2);
			wynikeurilosc.textContent = wpisaneeur;
			wynikspaneur.textContent = result;
		}
	}
	LiczbaInput.addEventListener('input', obliczWynik);

	obliczWynik();
</script>
<script>
	const LiczbaPLN = document.getElementById('AmountPLN');
	const wynikspanPLN = document.getElementById('plnspan');
	const wynikPLNilosc = document.getElementById('plnilosc');

	function obliczWynikPLN() {
		const wpisanepln = parseFloat(LiczbaPLN.value.replace(',', '.'));

		if (isNaN(wpisanepln) || wpisanepln === 0) {
			wynikspanPLN.textContent = '0';
			wynikPLNilosc.textContent = '0';
		} else {
			const result2 = (wpisanepln * PlnToEur).toFixed(2);
			wynikPLNilosc.textContent = wpisanepln;
			wynikspanPLN.textContent = result2;
		}
	}
	LiczbaPLN.addEventListener('input', obliczWynikPLN);

	obliczWynikPLN();
</script>