   <div class="test">
             <fieldset class="prawy">
                 <form class="form-horizontal-first" method="post" action="@Url.Action("AddSaldoTransaction","Home")">
        <legend>Dodaj swoje saldo PLN i EUR <br/>
         <a style="color:red; font-size:20px">Będziesz mógł to zrobić tylko raz!</a></legend>
        <!-- Saldo PLN-->
        <div class="form-group">
                <label class="control-label" for="PLNSaldo">Saldo PLN</label>  
                <div class="">
                    <input id="PLNSaldo" name="PLN" type="text" placeholder="" class="input-md" required="">

                </div>
        </div>
        <!-- Saldo EURO-->
        <div class="form-group">
                <label class="control-label" for="EUROSaldo">Saldo EURO</label>  
                <div>
                    <input id="EUROSaldo" name="EURO" type="text" placeholder="" class="input-md" required="">

                </div>
        </div>
            <input type="submit" value="Wyślij">
                </form>
        </fieldset>
        </div>