@{
    ViewData["Title"] = "Wymiana";
}
<div class="testexchange">
       <form class="form-horizontal">
    <fieldset>

    <!-- Form Name -->
    <legend class="WymianaEP">Wymiana PLN i EUR</legend>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="SelectWho">Wymiana</label>
      <div class="col-md-4">
        <select id="SelectWho" name="SelectWho" class="form-control">
          <option value="1">EUR -&gt; PLN</option>
          <option value="2">PLN -&gt; EUR</option>
        </select>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="Amount">Ilość EUR</label>  
      <div class="col-md-4">
      <input id="Amount" name="Amount" type="text" placeholder="€€€" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <div class="col-md-4">
          <div class="Przelicznik">
              Kurs: {KursEUR->PLN lub KursPLN->EUR} <br/>
              {IloscEur} da Ci {IloscPLN} Zł. <br/>
          </div>
         <input class="guzik" type="submit" value="Wyślij">
      </div>
    </div>

    </fieldset>
    </form>
</div>