@{
    ViewData["Title"] = "Logowanie";
}
<div class="test">
    <form class="form-horizontal" method="post" action="@Url.Action("CheckUser","Function")">
        <fieldset class="lewy">

            <!-- Form Name -->
            <legend>Logowanie</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Email">Email</label>
                <div class="col-md-4">
                    <input id="Email" name="Email" type="text" placeholder="email" class="form-control input-md">
                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Password">Hasło</label>
                <div class="col-md-4">
                    <input id="Password" name="Password" type="password" class="form-control input-md">
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <div class="col-md-4">
                    <button id="LoginButton" name="LoginButton" class="btn btn-primary">Zaloguj</button>
                    <br /><span>Nie masz konta? <a class="logreg" asp-area="" asp-controller="Home" asp-action="Register">Zarejestruj się!</a></span>
                </div>
            </div>

        </fieldset>
    </form>
</div>


